$fa-font-path:  "../../font-awesome/fonts";
$fa-font-family: "Meta-Nomral, sans-serif";
$sams-gray: #a0a0a0;
$sams-gray-alpha: rgba(160,160,160,.625);
$sams-red: #cc0000;
$sams-red-alpha: rgba(204,0,0,.85);
$sams-white: #f2f2f2;
$sams-black: #343A40;
$sams-black-alpha: rgba(52,58,64,.75);
$sams-blue: #007bff;
