a.navbar-brand(href='/')
  img(src='/img/logo-acme.png' width='100%' style='object-fit: contain')
button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#siteLinks' aria-controls='#siteLinks' aria-expanded='false' aria-label='Toggle navigation')
  span.navbar-toggler-icon
